<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
  <div class=>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">
            <h4>Observations</h4>
          </div>
        </div>

        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Date</th>
                  <th>Teacher</th>
                  <th>Subject</th>
                  <th>Observation</th>
                </tr>
              </thead>
              <tbody>
                <%# student.observations.where("student_learning_objective_observations.sub_subject_id = ? AND student_learning_objective_observations.user_id = ?",report.sub_subject_id,current_user.id).map{|a| a.student_learning_objective_observation_files}.each do |file|%>
                <% student.observations.where("student_learning_objective_observations.sub_subject_id = ? AND student_learning_objective_observations.user_id = ? AND student_learning_objective_observations.term_id = ? AND student_learning_objective_observations.academic_session_id = ?",report.sub_subject_id,current_user.id,session[:global_current_term],session[:global_academic_session]).each do |observation|%>
                <tr>
                  <td class="col-md-1">
                    <div class="icheck icheck-square-blue ">
                      <input type="checkbox"  class="report_subject_checkbox" name="ids[]" observation="<%=observation.id%>"  <%if observation.report_subject_observation.present? %> checked  <%end%> >
                    </div>
                  </td>
                  <td class="col-md-2"><%=observation.date.present? ? observation.date.strftime("%d %b %Y") : "no date present"%></td>
                  <td class="col-md-2"><%=observation.user.name%></td>
                  <td class="col-md-2"><%=observation.sub_subject.present? ? observation.sub_subject.subject.name : "N/A" %></td>
                  <td class="col-md-2"><%=observation.sub_subject.present? ? observation.sub_subject.name : "N/A" %></td>
                  <td class="observation_column col-md-3">
                    <div class="row">
                      <div class="col-md-12"><p class="align-justify p-10"><%=observation.description%></p>
                      </div>
                      <div class="col-md-12" style="display: -webkit-box;" > 
                        <%if observation.student_learning_objective_observation_files.present?%>
                        <% observation.student_learning_objective_observation_files.each do |file|%>
                        <% if file.evidence_content_type.in? ["image/jpg" ,"image/png","image/jpeg"]%>
                        <div style="position:relative;">
                          <%=link_to image_tag(file.show_evidence(:thumb)),show_evidence_from_modal_path(:file_id=>file) ,:remote=>true,method: :post %>
                        </div>   
                        <%else%>

                        <div style="position:relative;">
                            <%#= videojs_rails sources: { mp4: file.evidence}, autoplay: true, width:"500px;", height:"500px" %>

                          <%= videojs_rails sources: { mp4: file.evidence},autoplay: false,poster: file.evidence(:thumb),controls: false, width:"200px;", height:"200px" %>
                           <i class="fa fa-4x fa-play-circle-o text-white play-fa-center"></i>
                        </div>
                        <%end%>
                        <%end%>
                        <%end%>
                      </div>
                    </div>
                  </td>
                  <% end %>
                </tbody>
              </table>
            </div>

          <div class="modal-footer">              
            <div class="form-actions">
              <div class="row">
                <div class="pull-right">
                  <span class="btn btn-success btn-beatrice add_subject_evidence"  report="<%=report.id%>">Add Selected</span>
                </div>
                <div class="pull-left">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>









