<% phase_id = current_user.lead_phase_id(session[:global_academic_session]) %> 

<div class="phase_tg_students">
<%=render partial: '/schedules/partial/new/only_tg_students', locals: {tutor_group: @tutor_group, tutor_group_students: @tutor_group_students, phase_id: phase_id} %>
</div>
<div class="row form-group m-b-20">
  <div class="col-md-3">
    <label class="control-label">Select a phase:</label>
  </div>
  <div class="col-md-9">
    <select class="selectpicker" id="school_dropdown">
      <option>Select a Phase..</option>
      <%@phases.each do |phase|%>
      <option id="phase<%= phase.id %>" db_id='<%=phase.id%>' <% if phase.id == current_user.lead_phase_id(session[:global_academic_session]) %> selected <% end %>><%= phase.name %></option>
      <% end %>
    </select>
  </div>
</div>
Available Students:
<%@phases.each do |phase|%>
<div class="panel-group toggle phase_div phase<%= phase.id %>" <% if phase.id == current_user.lead_phase_id(session[:global_academic_session]) %> style="display:block;" <% end %> >
  <div class="panel bg-antiquewhite">
    <div class="panel-heading ">
    </div>
    <div class="show_phase_remove_student">
    <%=render partial: '/schedules/partial/new/tg_phase_students_partial', locals: {phase: phase} %>
  </div>
  </div>
</div>
<% end %>



<script>
  $('.selectpicker').selectpicker();
</script>
<script type="text/javascript">
 $(document).ready(function(){
   $('.loader').fadeOut('slow')
 })   
</script>