<!DOCTYPE html>
<html>
<head>
  <title>ARR - Beatrice Tate School</title>
  <link rel="shortcut icon" href="/assets/brt-logo.jpg" />

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  


  <!-- // <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/js/select2.min.js"></script>  -->
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- <p id="notice" class="toast toast-success"><%= notice %></p> -->

<body <%# if (params[:controller]=='users/sessions' && params[:action] == 'new') ||  (params[:controller]=='users/passwords' && params[:action] == "new") %><% if !user_signed_in? %>class="body-bg" style="margin:0" <% else %> class="fixed-footer"<% end %>>

	<div class="loader" style="background:white;position:fixed;height:100vh;left:0;top:0;text-align:center;z-index:1000;width:100%;opacity:0.8;z-index:99999999;">
	<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg" style="position:fixed;top:50%;">
	   <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
	</svg>
	</div>


<% if (params[:controller]!='users/sessions' && params[:action] != 'new') ||  (params[:controller]!='users/passwords' && params[:action] != "new") %>
	<div class="nav-bar-container">

		<!-- BEGIN ICONS -->


<!-- 		<div class="nav-search">
			<span class="search"></span>
		</div> --><!--.nav-search-->

	<!-- 	<div class="nav-user">
			<div class="user">
				<img src="../../assets/globals/img/faces/tolga-ergin.jpg" alt="">
				<span class="badge">3</span>
			</div>
			<div class="cross">
				<span class="line"></span>
				<span class="line"></span>
			</div>
		</div> -->
		<!-- END OF ICONS -->

		<!-- <div class="nav-bar-border"></div> -->
		<!--.nav-bar-border-->

		<!-- BEGIN OVERLAY HELPERS -->
		<div class="overlay">
			<div class="starting-point">
				<span></span>
			</div><!--.starting-point-->
			<!-- <div class="logo">BEATRICE TATE</div><!--.logo--> 
		</div><!--.overlay-->

		<div class="overlay-secondary"></div><!--.overlay-secondary-->
		<!-- END OF OVERLAY HELPERS -->

	</div><!--.nav-bar-container-->
<% end %>
	<div class="content">

		<div class="page-header full-content">
			<div class="row">
				<div class="col-sm-6">
											<div class="nav-menu m-r-5">
		<% if user_signed_in? %>
			<div class="hamburger">
				<span class="patty"></span>
				<span class="patty"></span>
				<span class="patty"></span>
				<span class="patty"></span>
				<span class="patty"></span>
				<span class="patty"></span>
			</div><!--.hamburger-->
			<% end %>
		</div><!--.nav-menu-->
		
					<% if user_signed_in? %><h1 style="text-transform:capitalize;margin-left:30px!important;"><% if request.url.to_s.include? "admin" %> Admin > <% end %> <% if params[:controller] == "homes" %> Home <% else %> <%= params[:controller].gsub("_"," ") %>  <% end %><!-- <small>Activity Summary</small> --></h1>
				<!--.col--><% else %>
					<h1>Beatrice Tate School</h1>
				<% end %></div>
				<div class="col-sm-6">
					<ol class="breadcrumb">
					<% if user_signed_in? %>	
<div class="col-sm-2"></div>
					<div class=" col-sm-4 col-xs-3">
     				<span>
     				<%= text_field_tag 'search', params[:q], placeholder: 'Enter search term ...', id: "my-search-input", :class=>"back-white p-5",:style=>"width:100%;" %>
     				<%= hidden_field_tag :hidden_search_id %><%= hidden_field_tag :hidden_search_email %>
     				
     				<i class="fa fa-search text-white p-10 submit_search cursor-pointer show_loader" style="background: #1DC53D;margin:-5px;"></i></span>
     				</div>
     				<div class="col-sm-1"></div>
						<li style="position:relative;">
							<!-- 	<div class="nav-user">
									<div class="user"> -->
									<div class="dropdown-toggle" data-toggle="dropdown">
									<span class="text-white capitalize-text m-r-10"><%= current_user.fname %> <%= current_user.lname? ? current_user.lname : '' %></span>
										<!-- <img src="/assets/tolga-ergin.jpg" alt="" class="nav_icon"> -->
										 <%= image_tag current_user.show_avatar(:thumb), :class=>"nav_icon m-r-10" %>										
										 
										<i class="fa fa-chevron-down text-white"></i>
										<!-- <span class="badge">3</span> -->
									<!-- </div> -->
								<!-- 	<div class="cross">
										<span class="line"></span>
										<span class="line"></span>
									</div> -->
								<!-- </div> -->
								</div>
								<ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop4">
								<li class="text-black-custom">
									<a href="<%= staff_path(current_user) %>" class="text-black-custom">My Profile</a>
								</li>
						
								<li>
									<%= link_to "Logout", destroy_user_session_path, method: :delete, :class=>"text-black-custom" %>			
								</li>
								</ul>

						</li>
						<% else %>
							<li class="text-white"> <%= link_to "Login", new_session_path(resource_name) %></li>
						<% end %>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->



<%= yield %>
<% if user_signed_in? %>
	<%= render "homes/partials/timeline" %>
<% end %>

</div>
<% if (params[:controller]!='users/sessions' && params[:action] != 'new') ||  (params[:controller]!='users/passwords' && params[:action] != "new") %>
	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<div class="menu-layer">
			<ul>
			
				<li data-open-after="true" <% if current_page? homes_path %> class="active_side_nav" <% end %>>
					<a href="<%= homes_path %>">Home</a>
				</li>

				<li class="open has-child animate">
					<a href="javascript:;" class="bg-beatrice text-white">Students</a>
					<ul class="child-menu">
						<% if user_signed_in? %>

						  	<% if !current_user.get_tutor_group(session[:global_academic_session]).blank? %>
						       <li <% if current_page? homes_path(view: "by_tutor_group") %> class="active_side_nav" <% end %>> <%=link_to "In My Tutor Group", homes_path(view: "by_tutor_group") %> </li>
						       <% end %>
						   <% end %>

						<li <% if current_page? homes_path(view: "by_tutor_group") %> class="active_side_nav" <% end %>> <%=link_to "In My Classes", homes_path(view: "by_class") %> </li>

						<% if user_signed_in? %>	<% if current_user.is_team_lead? && current_user.lead_phase_id(session[:global_academic_session]) != 0 %>
						<li <% if current_page? homes_path(view: "by_phase") %> class="active_side_nav" <% end %>> <%=link_to "In My Phase", homes_path(view: "by_phase") %> </li>
						<% end %><% end %>

						<li <% if current_page? homes_path(view: "all") %> class="active_side_nav" <% end %>> <%=link_to "All", homes_path(view: "all") %> </li>

					</ul>
				</li>

				<li class="open has-child animate">
					<a href="javascript:;" class="bg-beatrice text-white">Reports</a>
					<ul class="child-menu">
						<% if user_signed_in? %>	<% if !current_user.get_tutor_group(session[:global_academic_session]).blank? %>
						<li <% if current_page? reports_path(view: "by_tutor_group") %> class="active_side_nav" <% end %>> <%=link_to "In My Tutor Group", reports_path(view: "by_tutor_group") %> </li>
						<% end %><% end %>

						<li <% if current_page? reports_path(view: "by_class") %> class="active_side_nav" <% end %>> <%=link_to "In My Classes", reports_path(view: "by_class") %> </li>

						<% if user_signed_in? %>	<% if current_user.is_team_lead? && current_user.lead_phase_id(session[:global_academic_session]) != 0 %>
						<li <% if current_page? reports_path(view: "by_phase") %> class="active_side_nav" <% end %>> <%=link_to "In My Phase", reports_path(view: "by_phase") %> </li>
						<% end %><% end %>

						<li <% if current_page? reports_path(view: "all") %> class="active_side_nav" <% end %>> <%=link_to "All", reports_path(view: "all") %> </li>
					</ul>
				</li>

				<% if user_signed_in? %>	
				<% if current_user.is_team_lead? %>
				<li class="open has-child animate">
					<a href="javascript:;" class="bg-beatrice text-white">Admin</a>
					<ul class="child-menu">
						<li <% if current_page? students_path %> class="active_side_nav" <% end %>><%=link_to "Students",students_path%></li>
						<li <% if current_page? staff_index_path %> class="active_side_nav" <% end %>><%=link_to "Staff",staff_index_path%></li>
						<li <% if current_page? schedules_path %> class="active_side_nav" <% end %>><%=link_to "Schedule",schedules_path%></li>
						<li <% if current_page? tutor_groups_path %> class="active_side_nav" <% end %>><%=link_to "Tutor Group",tutor_groups_path%></li>
						<li <% if current_page? learning_groups_path %> class="active_side_nav" <% end %>><%=link_to "Learning Group",learning_groups_path%></li>
						<!-- <li><%#=link_to "Learning Objectives", nil %></li> -->
						<li <% if current_page? subjects_path %> class="active_side_nav" <% end %>><%=link_to "Subjects",subjects_path%></li>
						<li <% if current_page? phases_path %> class="active_side_nav" <% end %>><%=link_to "Phases",phases_path%></li>				
					</ul>
				</li>
				<% end %>
				<% end %>

				<% if user_signed_in? %>	
				<% if current_user.is_admin? %>

				<li class="open has-child animate">
					<a href="javascript:;" class="bg-beatrice text-white">Super Admin</a>
					<ul class="child-menu">
						<li><%=link_to "Extend Schedule", clone_schedule_path ,method: :post,:data=>{confirm:"This would remove any existing schedules for the next term and extend the schedule from current term. Are you sure you want to do this?"}%> </li>
						<li <% if current_page? terms_path %> class="active_side_nav" <% end %>><%=link_to "Terms",terms_path%></li>
						<li><%=link_to "Annual Closure", annual_closure_path %></li>				
					</ul>
				</li>

				<%# end %>

				<% end %>
				<% end %>

			</ul>
		</div><!--.menu-layer-->
		<!-- END OF MENU LAYER -->
		<% end %>

	</div><!--.layer-container-->

 <%= javascript_include_tag 'application_postyield' %>



      <script>
         <%- flash.each do |name, msg| -%>

         <% if msg.is_a?(String) %>
           $(document).ready(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: false,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                <% if name=="notice" %>
                toastr.success('<%= msg %>');
                <% elsif name=="alert" %>
                toastr.error('<%= msg %>');
                <% end %>
       }); 
      <%- end -%>
      <% end %> 

      $(document).ready(function(){
      	$('.loader').fadeOut('slow')
      })     
      </script>

      <script type="text/javascript">

      	$("#my-search-input").keydown(function(event){
		    if(event.keyCode == 13){
		        $(".submit_search").click();
		    }
		});

		$(document).on("click",".submit_search",function(){
			var query = $("#my-search-input").val();

			// console.log($("#my-search-input").val());
			window.location = "<%= search_index_path %>?q="+ query +"&type=term";

		})

      </script>


<script>
// alert($('.content-frame-top').parent().width());
$(document).on("keydown.autocomplete","#my-search-input",function(e){

$('.loader_typing').show();
// Below is the name of the textfield that will be autocomplete    
$(this).autocomplete({
// This shows the min length of charcters that must be typed before the autocomplete looks for a match.
minLength: 2,
// This is the source of the auocomplete suggestions. In this case a list of names from the people controller, in JSON format.
source: '/application/autocomplete.json',
// This updates the textfield when you move the updown the suggestions list, with your keyboard. In our case it will reflect the same value that you see in the suggestions which is the person.given_name.
focus: function(event, ui) {
	$(this).val(ui.item.fname + " " + ui.item.lname);
	return false;
},

// Once a value in the drop down list is selected, do the following:
select: function(event, ui) {
// place the person.given_name value into the textfield called 'select_origin'...
// and place the person.id into the hidden textfield called 'link_origin_id'.
	// console.log(ui.item); 
	$(this).val(ui.item.fname + " " +ui.item.lname);
	$("#hidden_search_id").val(ui.item.id)
	$("#hidden_search_email").val(ui.item.email)

	var query = ui.item.fname  + " " + ui.item.lname

	if (ui.item.email == undefined) {
		var searchobj = "student"
	}
	else {
		var searchobj = "staff"
	}
	$(".loader").show();


	window.location = "<%= search_index_path %>?q="+ query +"&type="+ searchobj +"&id="+ ui.item.id;
	// $.ajax({
 //     beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
 //      	type: 'get', 
 //        url: '/search',
 //        data: {search_id: ui.item.id, search_email: ui.item.email}
 //    });

    // return false;
}

})


.data( "ui-autocomplete" )._renderItem = function( ul, item ) {

var val = item.fname  + " " + item.lname;

return $( "<li></li>" )

.data( "item.autocomplete", item )
// For now which just want to show the person.given_name in the list.

.append( "<div class='  inline fs-14'>"  + val  + "</div>" )
.appendTo( ul );


};

});


</script>

   
</body>
</html>
